.feature {
    @extend %section;
}
.feature__list {
    @media screen and(min-width: $tablet) {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 30px;
    }
     @media screen and(min-width: $desktop) {
        flex-wrap: unset;
         }

    // display: flex;
    // gap: 30px;
    // flex-basis: calc((100% - 3 * 30px) / 4);
}
.feature__item {
    margin-bottom: 30px;

    @media screen and(min-width: $tablet) {
        width: calc((100% - 1 * 30px) / 2);
        margin-bottom: 0;
    }
        @media screen and(min-width: $desktop) {
             width: calc((100% - 3 * 30px) / 4);
            //  margin-bottom: 0;
         }
}

.feature__card {
    @extend %flexCentered;

    margin-bottom: 30px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F4FA;
}


.feature__title {
    margin-bottom: 10px;

    color: $title-text-color;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.feature__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}