.hero {
    @extend %container;

     
        @media screen and(max-width:$pretablet) {
            height: 400px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/headermobale-bgi.jpg), url(../../images/bg/Bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/headermobale-bgi@2x.jpg), url(../images/bg/Bg.jpg);
        
        }
        }

   
                @media screen and(min-width:$tablet) and(max-width:$predesktop) {
                    height: 400px;
                   
                            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/headermobale-bgi.jpg), url(../images/bg/Bg.jpg);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                    
                            @media screen and (min-device-pixel-ratio: 2),
                            screen and (min-resolution: 192dpi),
                            screen and (min-resolution: 2dppx) {
                                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/headermobale-bgi@2x.jpg), url(../images/bg/Bg.jpg);
                            }
                        
              
                    
        
                }

                @media screen and(min-width:$desktop) {
                    height: 600px;
                    
                            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/headerdesktop-bgi.jpg), url(../images/bg/Bg.jpg);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                    
                            @media screen and (min-device-pixel-ratio: 2),
                            screen and (min-resolution: 192dpi),
                            screen and (min-resolution: 2dppx) {
                                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/headerdesktop-bgi@2x.jpg), url(../images/bg/Bg.jpg);
                            }
                         
                }
  
  
         
   
    // margin-left: auto;
    // margin-right: auto;

    @extend %flexCentered;
    flex-direction: column;

}

.hero__container-title {
 text-align: center;
    @media screen and(max-width:$predesktop) {
            width: 360px;
                height: 84px;
        }
    
        @media screen and(min-width:$desktop) {
            width: 696px;
                height: 120px;
        }

  
   
}

.hero__title {
font-weight: 900;
letter-spacing: 0.06em;
text-transform: uppercase;
color: $white;
    @media screen and(max-width:$predesktop) {
            font-size: 26px;
            line-height: calc(42 / 26) ;
            text-align: center;        
    }
    @media screen and(min-width:$desktop) {
           font-size: 44px;
    line-height: 1.36;
    }
    
 
   
}

.hero__button {
    @extend .button-main;
    margin-top: 30px;
}