.staff {
    @extend %section;
    background-color: #f5f4fa;

}
.staff__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
.staff__item {
    @media screen and(min-width: $tablet) {
        width: calc((100% - 1* 30px) / 2);
        
    }
        @media screen and(min-width: $desktop) {
            width: calc((100% - 3* 30px) / 4);
            
        }
    margin-bottom: 30px;
    background-color: $white;
    // min-width: 270px;
    // min-height: 368px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.staff__description {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;
    @media screen and(min-width: $desktop) {
           padding: 30px 32px;
        }
    
}

.staff__title {
    margin-bottom: 10px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    
}

.staff__text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    text-align: center;
}