.logo {
    color: $title-text-color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
        font-size: 24px;
        line-height: calc(28 / 24);
        letter-spacing: 0.03em;
    @media screen and(min-width: $desktop) {
        font-size: 26px;
            line-height: 1.19;
            margin-right: 91px;
        }
   
}

.logo__web {
    color: $accent-color;
}
.logo__footer {
    @extend .logo;
    display: inline-block;
    margin-bottom: 20px; 
}

.logo__white {
    color: $white;
}
