.menu__container{
    background-color: $white;
    display: flex;
    flex-grow: 1;
    
    
   

    @media screen and(max-width:$pretablet) {
        // display: none;
    //    opacity: 0;

        background-color: thistle;
        padding: 48px 15px;
        transform: translateX(100%);
        
            transition: transform 5000ms linear;

            &.is-open {
                    // display: block;
                    position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 796px;
                        transform: translateX(0);
                        // opacity: 1;
                                    // transition: transform 5000ms linear;
                        

                        
                }
    }
        
}

.menu__button {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;

    @media screen and(min-width:$pretablet) {
        display: none; 
    }
}
.icon-close {
    display: none;
}
.menu__container.is-open + .menu__button .icon-close {
    display: block;
}
.menu__container.is-open + .menu__button .icon-open {
    display: none;
}
.page-header-social__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;

    @media screen and(min-width:$pretablet) {
        display: none;
    }
}

.page-header-social__link {
    display: flex;
    margin-right: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: $accent-color;

}

.page-header-social__link::after {
    margin-left: 10px;
    // margin-right: 10px;
    content: "";
    display: block;
    height: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
}

.page-header-social__link--afternone::after {
    display: none;
}