h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
    line-height: calc(33 / 28);
    letter-spacing: 0.03em;
    color: $title-text-color;
    @media screen and(min-width: $desktop) {
            font-size: 36px;
                line-height: 1.17;
                margin-bottom: 50px;
    
        }
    
}
.icon {
    fill: currentColor;

}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
outline: 1px solid red;
    // max-width: 480px;

    @media screen and (min-width: $mobile) {
        width: 480px;
    }
    @media screen and (min-width: $tablet) {
        width: 768px;
    }
    @media screen and (min-width: $desktop) {
        width: 1200px;
        
    }
}



body {
    margin: 0;
    background-color: $white;
    color: $primary-text-color;
    font-family: Roboto, sans-serif;
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}