%flexCentered {
    display: flex;
    align-items: center;
    justify-content: center;
}

%section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and(min-width: $desktop) {
            padding-top: 94px;
            padding-bottom: 94px;
    
        }
}

%container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    // outline: 1px solid red;
    // max-width: 480px;

    @media screen and (min-width: $mobile) {
        width: 480px;
    }

    @media screen and (min-width: $tablet) {
        width: 768px;
    }

    @media screen and (min-width: $desktop) {
        width: 1200px;

    }
}