$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$link-text: #AFB1B8;
$white: #ffffff;

$time-changes: cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 480px;
$pretablet: 767px;
$tablet: 768px;
$predesktop: 1199px;
$desktop: 1200px;